@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Roboto:wght@300&family=Saira+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.App {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: url(../images/bcg.png);
    background-repeat: no-repeat;
    background-position: center;
}